name: Main

on:
  schedule:
    - cron: '0 0 * * *' # Run every day at midnight

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.TOKEN }}
      - name: Update
        run: |
          make update
